<html>
    <head>
        <title>Trajectory generator</title>
    </head>
    <body>
    <h1> Trajectory generator </h1>

    <form action="" method="post">
        {{ form.csrf }}
        <div class="input submit">
            <input type="submit" name="btn" value="bt1" />
        </div>
        <div class="input submit">
            <input type="submit" name="btn" value="bt2" />
        </div>
        <div class="input submit">
            <input type="submit" name="btn" value="bt3" />
        </div>
        <div class="input submit">
            <input type="submit" name="btn" value="bt4" />
        </div>
    </form>

    <div class="container" align="left">
        <a href="/return-files/" target="blank"><button class='btn btn-default'>Graph info</button></a>
    </div>
    </body>
</html>